$globalTextFam: TeXGyreHeros
$globalTextFamMono: TeXGyreCursor
$globalPadding: 50px
$globalTextColorIndex: red
$globalTextSize: 34px

$globalTextSizeMid: $globalTextSize/1.8
$globalTextSizeSmall: $globalTextSize/3

$globalPaddingMid: $globalPadding/3
$globalPaddingSmall: $globalPadding/3



$globalRed: #ff0000
$globalRose: #fff3f3
$globalGreen: #3bdc7b
$globalGrey: #e2e2f3
$globalBlack: black

$globalBreakLarge: 1024px
$globalBreakMid: 420px
