$globalTextFam: TeXGyreHeros
$globalTextFamMono: TeXGyreCursor
$globalPadding: 50px
$globalTextColorIndex: red
$globalTextSize: 2.4vw


$globalRed: #ff0000
$globalRose: #fff3f3
$globalGreen: #3bdc7b
$globalGrey: #e2e2f3
$globalBlack: black
