@import 'mainGlobalVariables'

.hiddenElem
  visibility: hidden

.centerText
  text-align: center

.capitalizeText
  pointer-events: none
  .targetPad
    span
      font-weight: normal !important
      width: 100% !important
      text-transform: uppercase

.extraPaddingTop
  padding-top: 60px !important

  @media screen and (max-width: $globalBreakLarge)
    padding-top: 40px !important

  @media screen and (max-width: $globalBreakMidLarge)
    padding-top: 30px !important

  @media screen and (max-width: $globalBreakMid)
    padding-top: 24px !important


.padded
  padding: $globalPadding
  @media screen and (max-width: $globalBreakLarge)
    padding: $globalPaddingMidLarge

  @media screen and (max-width: $globalBreakMidLarge)
    padding: $globalPaddingSmall

.paddedNotBottom
  padding-bottom:0 !important

.paddedBottom
  padding-bottom: $globalPadding

  @media screen and (max-width: $globalBreakMidLarge)
    padding-bottom: $globalPaddingSmall
