@import mainGlobalVariables

#appHeader
  padding-top: $globalPadding
  margin-left: $globalPadding
  margin-right: $globalPadding
  padding-bottom: $globalPadding
  display: block
  font-size: $globalTextSize
  font-family: $globalTextFam
  line-height: $globalTextSize*1.1
  letter-spacing: -0.1vw
  color: $globalRed
  border-bottom: 0.25vw solid $globalRed


  @media screen and (max-width: $globalBreakLarge) and (min-width: $globalBreakMid)

    font-size: $globalTextSizeMid
    padding-top: $globalPaddingMid
    margin-left: $globalPaddingMid
    margin-right: $globalPaddingMid
    padding-bottom: $globalPaddingMid
    line-height: $globalTextSizeMid*1.1

    display: flex


  @media screen and (max-width: $globalBreakMid)
    font-size: $globalTextSizeSmall
    padding-top: $globalPaddingSmall
    margin-left: $globalPaddingSmall
    margin-right: $globalPaddingSmall
    padding-bottom: $globalPaddingSmall
    line-height: $globalTextSizeSmall*1.1

    display: flex



  p:first-of-type
    margin-top: -0.5vw
    margin-bottom: 0

  #appIndex
    width: 100%

    display: inline-block
    text-decoration: none
    color: inherit
    font-weight: bold
    //
    // @media screen and (max-width: $globalBreakMid)
    //   clear: both
    @media screen and (min-width: $globalBreakLarge)
      width: 30vw




    .t-caret
      padding-left: 0.2vw
      // font-weight: bold

    del
      text-decoration: none

    .animatedBorderBlack
      padding: 0vw 1vw 0.2vw 1vw
      border-radius: 1vw
      border: 0.25vw solid $globalRed
      background: $globalRed
      color: $globalRose




  // .padTitleOuter
  //
  //
  //   @media screen and (max-width: $globalBreakLarge)
  //     display: none
  //     float: right

  // #padTitle
  //   // float:
  //   clear: none
  //   margin-left: $globalPadding
  //   padding: 0vw 1vw 0.2vw 1vw
  //   border-radius: 1vw
  //   // cursor: pointer
  //   border: 0.25vw solid $globalRed
    //
    // @media screen and (max-width: $globalBreakLarge)
    //   margin-left: 0
    //   font-size: $globalTextSizeSmall
    //   line-height: $globalTextSizeSmall*1.1



  .padActions
    clear: none
    float: right
    @media screen and (max-width: $globalBreakLarge)
      float: left
      margin-top: $globalTextSizeSmall*1.1




    @media screen and (max-width: $globalBreakMid)
        float: left
        margin-top: $globalTextSizeSmall*1.1

    .padActionRead,.padActionWrite,.padActionPrint,.padActionExpand,.padTitle
      // width: 50%
      padding: 0vw 1vw 0.2vw 1vw
      border-radius: 1vw
      cursor: pointer
      vertical-align: text-top


    .padTitle
      // max-width: 30vw
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      display: inline-block
      text-align: right
      max-width: 28vw

      @media screen and (max-width: $globalBreakLarge)
        max-width: 28vw

      // vertical-align: text-top

    .padActionExpand
      border: 0.25vw solid $globalRed
      img
        width: 1vw
      &:not(.activeAction)
        background: $globalRed
        color: $globalRose
        &:hover
          background: $globalRose
          color: $globalRed

    .padActionRead
      border: 0.25vw solid $globalRed
      &:not(.activeAction)
        background: $globalRed
        color: $globalRose
        &:hover
          background: $globalRose
          color: $globalRed

    .padActionWrite
      border: 0.25vw solid $globalGreen
      background: $globalGreen
      color: $globalRose

      &:after
        content: 'Write'

      &.locked
        cursor: default !important
        background: $globalGrey
        border: 0.25vw solid $globalGrey

        &:hover:after
          content: 'Locked'
          color: $globalRose
          background: $globalGrey

      &:not(.locked)
        &:hover
          background: $globalRose
          color: $globalGreen

        &.activeAction
          background: $globalRose
          color: $globalGreen

    .padActionPrint
      border: 0.25vw solid $globalRed
      background: $globalRed
      color: $globalRose
      &:hover
        background: none
        color: $globalRed
