$globalTextFam: TeXGyreHeros
$globalTextFamMono: TeXGyreCursor
$globalPadding: 50px
$globalTextColorIndex: red
$globalTextSize: 34px

$globalTextSizeMidLarge: 26px
$globalTextSizeMid: 18px
$globalTextSizeSmall: 12px

$globalPaddingMidLarge: $globalPadding/2
$globalPaddingMid: $globalPadding/3
$globalPaddingSmall: $globalPadding/3



$globalRed: #ff0000
$globalRose: #fff3f3
$globalGreen: #3bdc7b
$globalGrey: #e2e2f3
$globalBlack: black

$globalBreakLarge: 1400px
$globalBreakMidLarge: 1024px
$globalBreakMid: 640px
