@import 'mainGlobalVariables'

@media print


  #appHeader
    display: none !important

  #singlePadRead
    padding: 0 !important
    width: 100% !important
    font-size: 12.5pt !important
    font-family: $globalTextFamMono !important
    line-height: 12.5pt*1.6 !important
    letter-spacing: -0.5pt !important

    code
      padding-left: 20mm !important

    .number
      padding-left: 10mm !important
      @media screen and (max-width: $globalBreakLarge)
        padding-left: 10mm !important
    .indent
      padding-left: 10mm !important
      @media screen and (max-width: $globalBreakLarge)
        padding-left: 10mm !important



    #singlePadReadMetadata


      #timeStamp
        right: 0cm !important
        letter-spacing: -0.5pt !important



      padding-bottom: 5pt !important

      .metaPlace,.metaDate,.metaEvent,.metaTitle

        font-size: 52pt !important
        line-height: 52pt*1.1 !important
        letter-spacing: -2.1pt !important

      .metaTitle
        padding-top: 52pt*1.5+8mm !important
        padding-bottom: 52pt !important
