@import mainGlobalVariables

#indexSplash
  position: fixed
  width: 100%
  height: 100%
  background: $globalRose
  top: 0
  left: 0

  #indexSplashInner
    // margin: 0
    // position: relative
    // top: 50%
    // left: 50%
    // transform: translate(-50%, -50%)
    font-size: 40vw
    font-weight: bold
    letter-spacing: -2vw
    line-height: 100vh

    // text-align: center
    width: 100vw
    display: inherit
    color: $globalGreen

    &.shiftCaretColor
      color: $globalRose
      background: $globalRed

      .t-caret
        margin-left: -2vw


    .normalTight
      // margin-left: 11.5vw


    .extraTight
      // margin-left: 3.5vw

      // letter-spacing: -2.5vw
      // margin-left: -10vw
      // margin-left: -8vw

    .noneBack
      background: $globalRose
      border-radius: 10vh
      padding-left: 8.8vw
      padding-top: 5vh
      padding-bottom: 5vh
      color: $globalGreen

    .redBack
      background: $globalRed
      border-radius: 10vh
      // padding-right: 15vw
      padding-left: 2.8vw !important
      padding-top: 5vh
      padding-bottom: 5vh
      color: $globalRose

      .t-caret
        color: $globalRose

    del
      text-decoration: none


    del:empty
      display: none


    .t-caret
      // margin-left: -20vw
      -ms-transform: scale(1,0.5)
      -webkit-transform: scale(1,0.5)
      transform: scale(0.8,0.8)
      display: inline-block !important
      animation: blink-animation 2s steps(5, start) infinite
      -webkit-animation: blink-animation 2s steps(5, start) infinite
      // display: inline-block

      @keyframes blink-animation
        to
          visibility: hidden
      @-webkit-keyframes blink-animation
        to
          visibility: hidden


#indexBlurb, #indexInfo, #indexCredits
  font-size: $globalTextSize
  font-family: $globalTextFam
  line-height: $globalTextSize * 1.1
  letter-spacing: -0.1vw
  color: $globalRed

  @media screen and (max-width: $globalBreakLarge) and (min-width: $globalBreakMid)
      font-size: $globalTextSizeMid
      line-height: $globalTextSizeMid * 1.1
      letter-spacing: -0.1vw

  @media screen and (max-width: $globalBreakMid)
    font-size: $globalTextSizeSmall
    line-height: $globalTextSizeSmall * 1.1
    letter-spacing: -0.1vw

  a
    font-weight: bold
    text-decoration: none
    color: inherit

  p:first-of-type
    margin-top: -0.5vw




#indexPadList
  padding-left: $globalPadding * 2
  padding-right: $globalPadding * 2
  font-size: $globalTextSize
  font-family: $globalTextFam
  line-height: $globalTextSize * 1.1
  letter-spacing: -0.1vw
  display: inline-block
  width: 100%
  padding-bottom: $globalPadding


  @media screen and (max-width: $globalBreakLarge) and (min-width: $globalBreakMid)
      font-size: $globalTextSizeMid
      line-height: $globalTextSizeMid * 1.1
      letter-spacing: -0.1vw
      padding-left: 0
      padding-right: 0
      padding-bottom: $globalPaddingMid


  @media screen and (max-width: $globalBreakMid)

      font-size: $globalTextSizeSmall
      line-height: $globalTextSizeSmall * 1.1
      letter-spacing: -0.1vw
      padding-left: 0
      padding-right: 0
      padding-bottom: $globalPaddingSmall




  p
    color: $globalRed
    padding: $globalPadding / 2
    margin-bottom: 0
    @media screen and (max-width: $globalBreakLarge)
      padding: $globalPaddingSmall




  ul
    padding: 0
    margin: 0

  .targetPadWrapper

    display: inline-flex
    width: 100%
    border-top: 0.25vw solid $globalRed
    background: $globalRose
    // margin-top: 0.75vw
    padding-top: 0.75vw*2

    &.capitalizeText
      padding-top: $globalPadding*2



    @media screen and (max-width: $globalBreakLarge)
      width: calc(100% - #{$globalPaddingSmall*2})
      margin-left: $globalPaddingSmall
      margin-right: $globalPaddingSmall

      &.capitalizeText
        padding-top: $globalPaddingSmall*2



    &:last-of-type
      // padding-top: 0.75vw
      border-bottom: 0.25vw solid $globalRed


    .targetPad
      color: $globalRed
      padding: $globalPadding / 2
      float: left
      width: 70%
      list-style: none

      span:first-of-type
        font-weight: bold
        width: 50%
        overflow-wrap: break-word
        word-wrap: break-word
        -webkit-hyphens: auto
        -ms-hyphens: auto
        -moz-hyphens: auto
        hyphens: auto

      span
        vertical-align: top
        display: inline-block
        width: 25%
        cursor: pointer


      @media screen and (max-width: $globalBreakLarge)
        padding: $globalPaddingSmall
        padding-left: 0
        padding-right: 0
        width: 64%

        span:first-of-type
          font-weight: bold
          width: 33.333%

        span:nth-of-type(2),span:nth-of-type(3)
          // background: green
          padding-left: 10px

        span
          vertical-align: top
          display: inline-block
          width: 33.333%

    .padActions
      padding: $globalPadding / 2
      width: 30%
      float: left

      @media screen and (max-width: $globalBreakLarge)
        padding: $globalPaddingSmall
        padding-right: 0
        width: 36%





      .padActionRead, .padActionWrite
        width: calc(50% - 1vw)
        // padding: 0vw 1v  w 0.2vw 1vw
        padding: 0.5vw
        padding-top: 0.75vw
        padding-bottom: 0.75vw
        margin: 0.5vw
        margin-top: -0.75vw

        border-radius: 1vw
        cursor: pointer
        text-align: center

      .padActionRead
        // margin-right: 20px
        border: 0.25vw solid $globalRed
        color: $globalRed
        &:after
          content: 'Read'


      .padActionWrite
        border: 0.25vw solid $globalGreen
        background: $globalGreen
        color: $globalRose
        &:after
          content: 'Write'

        &.locked
          background: $globalGrey
          border: 0.25vw solid $globalGrey
          &:hover:after
            content: 'Locked'
