@import 'mainGlobalVariables'

@media print


  #appHeader
    display: none !important

  #singlePadReadInner
    -webkit-column-count: 2
    -moz-column-count: 2
    column-count: 2
    -webkit-column-gap: 9mm
    -moz-column-gap: 9mm
    column-gap: 9mm

    #appendAboutText
      width: 100% !important



  #singlePadRead
    padding: 0 !important
    width: 100% !important
    font-size: 9.5pt !important
    font-family: $globalTextFamMono !important
    line-height: 9.5pt*1.6 !important
    letter-spacing: -0.5pt !important



    code
      padding-left: 20mm !important

    .number
      padding-left: 10mm !important
      @media screen and (max-width: $globalBreakMidLarge)
        padding-left: 10mm !important
    .indent
      padding-left: 10mm !important
      @media screen and (max-width: $globalBreakMidLarge)
        padding-left: 10mm !important



    #singlePadReadMetadata


      #timeStamp
        right: 11.5pt !important
        letter-spacing: -0.5pt !important



      padding-bottom: 5pt !important

      .metaPlace,.metaDate,.metaEvent,.metaTitle

        font-size: 52pt !important
        line-height: 52pt*1.1 !important
        letter-spacing: -2.1pt !important

      .metaTitle
        padding-top: 52pt*1.5+8mm !important
        padding-bottom: 52pt !important

      .metaUrl
        width: 50%
        display: inline-block
        padding-top: 9.5pt*2 !important
        padding-bottom: 9.5pt*2 !important
