@media print {
  body {
    margin-top: 4cm !important;
    margin-bottom: 4cm !important;
    margin-left: 2cm !important;
    margin-right: 2cm !important; }
  #appHeader {
    display: none !important; }
  #singlePadRead {
    padding: 0 !important;
    width: 100% !important;
    font-size: 16pt !important;
    font-family: TeXGyreCursor !important;
    line-height: 17.6pt !important;
    letter-spacing: -0.1vw !important; }
    #singlePadRead #singlePadReadMetadata {
      padding-bottom: 5pt !important; }
      #singlePadRead #singlePadReadMetadata .metaPlace, #singlePadRead #singlePadReadMetadata .metaDate, #singlePadRead #singlePadReadMetadata .metaEvent, #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 52pt !important;
        line-height: 57.2pt !important;
        letter-spacing: -2.1pt !important; }
      #singlePadRead #singlePadReadMetadata .metaTitle {
        padding-top: 78pt !important;
        padding-bottom: 52pt !important; } }
