#appHeader {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  display: block;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: #ff0000;
  border-bottom: 0.2vw solid #ff0000; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #appHeader {
      font-size: 26px;
      padding-top: 25px;
      margin-left: 25px;
      margin-right: 25px;
      padding-bottom: 25px;
      line-height: 28.6px; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #appHeader {
      font-size: 18px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 19.8px;
      display: flex; } }
  @media screen and (max-width: 640px) {
    #appHeader {
      font-size: 12px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 13.2px;
      display: flex; } }
  #appHeader p:first-of-type {
    margin-top: -0.5vw;
    margin-bottom: 0;
    width: 100%; }
  #appHeader #appIndex {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold; }
    @media screen and (min-width: 1024px) {
      #appHeader #appIndex {
        width: 30vw; } }
    #appHeader #appIndex .t-caret {
      padding-left: 0.2vw; }
    #appHeader #appIndex del {
      text-decoration: none; }
    #appHeader #appIndex .animatedBorderBlack {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      border: 0.2vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
  #appHeader .padActions {
    clear: none;
    float: right; }
    @media screen and (max-width: 640px) {
      #appHeader .padActions .padTitle {
        display: none !important; } }
    #appHeader .padActions .padActionRead, #appHeader .padActions .padActionWrite, #appHeader .padActions .padActionPrint, #appHeader .padActions .padActionExpand, #appHeader .padActions .padTitle {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      cursor: pointer;
      vertical-align: text-top; }
    #appHeader .padActions .padTitle {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
      max-width: 28vw; }
      @media screen and (max-width: 1024px) {
        #appHeader .padActions .padTitle {
          max-width: 28vw;
          text-align: left; } }
    #appHeader .padActions .padActionExpand {
      border: 0.2vw solid #ff0000; }
      #appHeader .padActions .padActionExpand img {
        width: 1vw; }
      #appHeader .padActions .padActionExpand:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionExpand:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionRead {
      border: 0.2vw solid #ff0000; }
      #appHeader .padActions .padActionRead:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionRead:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionWrite {
      border: 0.2vw solid #3bdc7b;
      background: #3bdc7b;
      color: #fff3f3; }
      #appHeader .padActions .padActionWrite:after {
        content: 'Write'; }
      #appHeader .padActions .padActionWrite.locked {
        cursor: default !important;
        background: #e2e2f3;
        border: 0.2vw solid #e2e2f3; }
        #appHeader .padActions .padActionWrite.locked:hover:after {
          content: 'Locked';
          color: #fff3f3;
          background: #e2e2f3; }
      #appHeader .padActions .padActionWrite:not(.locked):hover {
        background: #fff3f3;
        color: #3bdc7b; }
      #appHeader .padActions .padActionWrite:not(.locked).activeAction {
        background: #fff3f3;
        color: #3bdc7b; }
    #appHeader .padActions .padActionPrint {
      border: 0.2vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
      #appHeader .padActions .padActionPrint:hover {
        background: none;
        color: #ff0000; }
