#appHeader {
  padding: 50px;
  font-size: 2.4vw;
  font-family: TeXGyreHeros;
  line-height: 2.64vw;
  letter-spacing: -0.1vw;
  color: black;
  border-bottom: 0.28vw solid black; }
  #appHeader p:first-of-type {
    margin-top: -0.5vw;
    margin-bottom: 0; }
  #appHeader #appIndex {
    width: 20vw;
    display: inline-block;
    text-decoration: none;
    color: inherit; }
    #appHeader #appIndex .t-caret {
      padding-left: 0.2vw; }
    #appHeader #appIndex del {
      text-decoration: none; }
    #appHeader #appIndex .animatedBorderBlack {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      border: 0.25vw solid black;
      background: black;
      color: #fff3f3; }
  #appHeader #padTitle {
    clear: none;
    margin-left: 50px;
    padding: 0vw 1vw 0.2vw 1vw;
    border-radius: 1vw;
    border: 0.25vw solid black; }
  #appHeader .padActions {
    clear: none;
    float: right; }
    #appHeader .padActions .padActionRead, #appHeader .padActions .padActionWrite, #appHeader .padActions .padActionPrint {
      width: 50%;
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      cursor: pointer;
      border: 0.25vw solid black;
      background: black;
      color: #fff3f3; }
      #appHeader .padActions .padActionRead:hover, #appHeader .padActions .padActionWrite:hover, #appHeader .padActions .padActionPrint:hover {
        background: none;
        color: black; }
    #appHeader .padActions .activeAction {
      background: none;
      color: black; }
