#singlePad iframe {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  border: 0;
  background: white; }

#singlePad #singlePadRead {
  padding: 50px;
  font-size: 1.6vw;
  font-family: TeXGyreCursor;
  line-height: 2.64vw;
  letter-spacing: -0.1vw;
  color: black;
  width: 75%; }
  #singlePad #singlePadRead > * {
    margin-top: 0; }
  #singlePad #singlePadRead #singlePadReadMetadata {
    font-weight: bold; }
    #singlePad #singlePadRead #singlePadReadMetadata span {
      float: right; }
    #singlePad #singlePadRead #singlePadReadMetadata span:first-of-type {
      float: left; }
    #singlePad #singlePadRead #singlePadReadMetadata span:nth-last-of-type(1) {
      padding-right: 40px; }
