.hiddenElem {
  visibility: hidden; }

.centerText {
  text-align: center; }

.capitalizeText {
  pointer-events: none; }
  .capitalizeText .targetPad span {
    font-weight: normal !important;
    width: 100% !important;
    text-transform: uppercase; }

.extraPaddingTop {
  padding-top: 60px !important; }
  @media screen and (max-width: 1400px) {
    .extraPaddingTop {
      padding-top: 40px !important; } }
  @media screen and (max-width: 1024px) {
    .extraPaddingTop {
      padding-top: 30px !important; } }
  @media screen and (max-width: 640px) {
    .extraPaddingTop {
      padding-top: 24px !important; } }

.padded {
  padding: 50px; }
  @media screen and (max-width: 1400px) {
    .padded {
      padding: 25px; } }
  @media screen and (max-width: 1024px) {
    .padded {
      padding: 16.66667px; } }

.paddedNotBottom {
  padding-bottom: 0 !important; }

.paddedBottom {
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .paddedBottom {
      padding-bottom: 16.66667px; } }

.chevron {
  padding-left: 8.33333px; }

.chevron::before {
  border-style: solid;
  border-width: 0.20vw 0.20vw 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: super;
  width: 0.45em; }

.chevron.right:before {
  left: 15px;
  transform: rotate(45deg); }

.chevron.top:before {
  top: 0.45em; }

.chevron.bottom:before {
  top: 0.15em;
  transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg); }

#singlePad iframe {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  border: 0;
  background: white;
  border-top: 0.2vw solid #ff0000;
  margin-top: -0.20vw; }

#singlePad .metaUrl {
  cursor: pointer; }
  #singlePad .metaUrl a {
    clear: both;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

#singlePad #singlePadRead {
  position: relative;
  padding: 50px;
  font-size: 18.88889px;
  font-family: "Anonymous Pro", monospace;
  line-height: 30.6px;
  color: black;
  width: 75%; }
  #singlePad #singlePadRead #appendAboutText {
    width: 50%;
    float: right; }
  #singlePad #singlePadRead b, #singlePad #singlePadRead strong, #singlePad #singlePadRead bold {
    letter-spacing: -0.05vw; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #singlePad #singlePadRead {
      padding: 25px;
      font-size: 18px;
      line-height: 27px; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #singlePad #singlePadRead {
      padding: 16.66667px;
      font-size: 18px;
      line-height: 27px; } }
  @media screen and (max-width: 640px) {
    #singlePad #singlePadRead {
      padding: 16.66667px;
      font-size: 12px;
      line-height: 18px; } }
  @media screen and (max-width: 1024px) {
    #singlePad #singlePadRead {
      width: 100%; } }
  #singlePad #singlePadRead .number {
    padding-left: 50px; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead .number {
        padding-left: 66.66667px; } }
  #singlePad #singlePadRead .indent {
    list-style: none;
    padding-left: 50px; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead .indent {
        padding-left: 66.66667px; } }
  #singlePad #singlePadRead code {
    font-family: inherit !important;
    padding-left: 200px;
    display: inherit; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead code {
        padding-left: 100px; } }
  #singlePad #singlePadRead a {
    text-decoration: none;
    border-bottom: 0.125vw solid black;
    color: black; }
  #singlePad #singlePadRead > * {
    margin-top: 0; }
  #singlePad #singlePadRead #singlePadReadMetadata {
    display: inline-block;
    width: 100%; }
    #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      position: absolute;
      transform-origin: right;
      text-align: right;
      right: 68px; }
      @media screen and (max-width: 1024px) and (min-width: 640px) {
        #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
          right: 36px; } }
      @media screen and (max-width: 640px) {
        #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
          right: 27.6px; } }
    #singlePad #singlePadRead #singlePadReadMetadata .metaPlace, #singlePad #singlePadRead #singlePadReadMetadata .metaDate, #singlePad #singlePadRead #singlePadReadMetadata .metaEvent, #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
      font-size: 51px;
      font-family: TeXGyreHeros;
      line-height: 37.4px;
      letter-spacing: -0.1vw;
      font-weight: normal; }
    #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
      padding: 50px;
      display: inline-block;
      font-weight: bold; }
    @media screen and (max-width: 1400px) {
      #singlePad #singlePadRead #singlePadReadMetadata .metaPlace, #singlePad #singlePadRead #singlePadReadMetadata .metaDate, #singlePad #singlePadRead #singlePadReadMetadata .metaEvent, #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 36px;
        line-height: 32.4px;
        letter-spacing: -0.1vw; }
      #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
        padding: 16.66667px; } }

.langENG {
  display: none; }

.langNL {
  display: initial; }

#indexSplash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff3f3;
  top: 0;
  left: 0; }
  #indexSplash #indexSplashInner {
    font-size: 40vw;
    font-weight: bold;
    letter-spacing: -2vw;
    line-height: 100vh;
    width: 100vw;
    display: inherit;
    color: #3bdc7b; }
    #indexSplash #indexSplashInner.shiftCaretColor {
      color: #fff3f3;
      background: #ff0000; }
      #indexSplash #indexSplashInner.shiftCaretColor .t-caret {
        margin-left: -2vw; }
    #indexSplash #indexSplashInner .noneBack {
      background: #fff3f3;
      border-radius: 10vh;
      padding-left: 8.8vw;
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: #3bdc7b; }
    #indexSplash #indexSplashInner .redBack {
      background: #ff0000;
      border-radius: 10vh;
      padding-left: 2.8vw !important;
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: #fff3f3; }
      #indexSplash #indexSplashInner .redBack .t-caret {
        color: #fff3f3; }
    #indexSplash #indexSplashInner del {
      text-decoration: none; }
    #indexSplash #indexSplashInner del:empty {
      display: none; }
    #indexSplash #indexSplashInner .t-caret {
      -ms-transform: scale(1, 0.5);
      -webkit-transform: scale(1, 0.5);
      transform: scale(0.8, 0.8);
      display: inline-block !important;
      animation: blink-animation 2s steps(5, start) infinite;
      -webkit-animation: blink-animation 2s steps(5, start) infinite; }

@keyframes blink-animation {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }

#indexPage #instructionsOverlay {
  display: none;
  position: fixed;
  top: 0;
  background: #fff3f3;
  height: 100%;
  width: 100%;
  z-index: 9999; }
  #indexPage #instructionsOverlay .close-icon {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, red 46%, red 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, red 46%, red 56%, transparent 56%, transparent 100%);
    cursor: pointer; }
    @media screen and (max-width: 1024px) {
      #indexPage #instructionsOverlay .close-icon {
        position: absolute;
        right: 16.66667px;
        top: 16.66667px; } }

#indexBlurb #indexNavTop {
  float: right; }

#indexBlurb .animatedBorderBlack {
  padding: 0vw 1vw 0.2vw 1vw;
  border-radius: 1vw;
  border: 0.20vw solid #ff0000;
  background: #ff0000;
  color: #fff3f3; }

#indexBlurb .readMoreInstructions {
  float: left;
  cursor: pointer;
  margin-right: 20px;
  border-bottom: 0.2vw solid #ff0000; }

#indexBlurb .readMoreIndex {
  float: left;
  cursor: pointer;
  margin-right: 20px;
  border-bottom: 0.2vw solid #ff0000; }

#indexBlurb #langSwab {
  float: right;
  cursor: pointer; }
  #indexBlurb #langSwab .active {
    margin-top: -0.20vw;
    display: inline-block;
    border-bottom: 0.2vw solid #ff0000; }

#indexHow {
  font-size: 18.88889px;
  font-family: "Anonymous Pro", monospace;
  line-height: 30.6px;
  letter-spacing: -0.1vw;
  color: #ff0000; }
  #indexHow b {
    letter-spacing: -0.05vw; }
  #indexHow ol {
    margin-top: 0; }
  #indexHow li {
    margin-bottom: 12.5px; }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #indexHow {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.1vw; } }
  @media screen and (max-width: 640px) {
    #indexHow {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.1vw; }
      #indexHow ol {
        padding-left: 16.66667px; } }

#indexBlurb, #indexInfo, #indexCredits {
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: #ff0000; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #indexBlurb, #indexInfo, #indexCredits {
      font-size: 26px;
      line-height: 28.6px;
      letter-spacing: -0.1vw; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #indexBlurb, #indexInfo, #indexCredits {
      font-size: 18px;
      line-height: 19.8px;
      letter-spacing: -0.1vw; } }
  @media screen and (max-width: 640px) {
    #indexBlurb, #indexInfo, #indexCredits {
      font-size: 12px;
      line-height: 13.2px;
      letter-spacing: -0.1vw; } }
  #indexBlurb a, #indexInfo a, #indexCredits a {
    font-weight: bold;
    text-decoration: none;
    color: inherit; }
  #indexBlurb p:first-of-type, #indexInfo p:first-of-type, #indexCredits p:first-of-type {
    margin-top: -0.5vw; }

#indexPadArchive {
  color: #ff0000;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 30.90909px;
  letter-spacing: -0.1vw;
  display: inline-block;
  width: 100%;
  padding-bottom: 50px; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #indexPadArchive {
      font-size: 26px;
      line-height: 31.2px;
      letter-spacing: -0.1vw;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 26px; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #indexPadArchive {
      font-size: 18px;
      line-height: 21.6px;
      letter-spacing: -0.1vw;
      padding-left: 16.66667px;
      padding-right: 16.66667px;
      padding-bottom: 16.66667px; } }
  @media screen and (max-width: 640px) {
    #indexPadArchive {
      padding-left: 16.66667px;
      padding-right: 16.66667px; } }
  #indexPadArchive #archiveToggler {
    cursor: pointer;
    padding: 25px; }
    #indexPadArchive #archiveToggler:not(.opened) {
      border-bottom: 0.2vw solid #ff0000; }
    @media screen and (max-width: 1400px) and (min-width: 1024px) {
      #indexPadArchive #archiveToggler {
        padding: 16.66667px; } }
    @media screen and (max-width: 1024px) {
      #indexPadArchive #archiveToggler {
        padding-left: 0px;
        padding-right: 0px; } }
    @media screen and (max-width: 640px) {
      #indexPadArchive #archiveToggler {
        font-size: 12px; } }
  #indexPadArchive #indexPadArchiveInner {
    display: none;
    padding-top: 16.66667px;
    font-size: 28.33333px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
    @media screen and (max-width: 1400px) and (min-width: 1024px) {
      #indexPadArchive #indexPadArchiveInner {
        font-size: 20px; } }
    @media screen and (max-width: 1024px) {
      #indexPadArchive #indexPadArchiveInner {
        font-size: 18px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1; } }
    @media screen and (max-width: 640px) {
      #indexPadArchive #indexPadArchiveInner {
        font-size: 12px; } }
    #indexPadArchive #indexPadArchiveInner .targetPadWrapper:not(.capitalizeText) {
      border-top: 0.125vw solid #ff0000;
      padding-bottom: 13.6px;
      padding-top: 13.6px; }
      @media screen and (max-width: 640px) {
        #indexPadArchive #indexPadArchiveInner .targetPadWrapper:not(.capitalizeText) {
          padding-bottom: 8.33333px;
          padding-top: 8.33333px; } }
    #indexPadArchive #indexPadArchiveInner .capitalizeText {
      text-transform: uppercase;
      padding-bottom: 25px; }
      #indexPadArchive #indexPadArchiveInner .capitalizeText:not(:first-of-type) {
        padding-top: 50px; }
      @media screen and (max-width: 640px) {
        #indexPadArchive #indexPadArchiveInner .capitalizeText {
          padding-bottom: 8.33333px; } }
    #indexPadArchive #indexPadArchiveInner li {
      cursor: pointer;
      list-style: none; }
      #indexPadArchive #indexPadArchiveInner li span {
        display: inline-block; }
        #indexPadArchive #indexPadArchiveInner li span:nth-child(1) {
          width: 60%; }
        #indexPadArchive #indexPadArchiveInner li span:nth-child(n+2) {
          width: 20%; }

#indexPadList {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  display: inline-block;
  width: 100%;
  padding-bottom: 50px; }
  #indexPadList .toggleEventList {
    cursor: pointer;
    padding-bottom: 1.5vw; }
    #indexPadList .toggleEventList .padActions {
      display: none; }
    #indexPadList .toggleEventList .targetPad {
      width: 100% !important;
      text-align: center; }
  #indexPadList #toggleEventListText {
    text-transform: uppercase; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #indexPadList {
      font-size: 26px;
      line-height: 28.6px;
      letter-spacing: -0.1vw;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 26px; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #indexPadList {
      font-size: 18px;
      line-height: 19.8px;
      letter-spacing: -0.1vw;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16.66667px; } }
  @media screen and (max-width: 640px) {
    #indexPadList {
      font-size: 12px;
      line-height: 13.2px;
      letter-spacing: -0.1vw;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16.66667px; } }
  #indexPadList p {
    color: #ff0000;
    padding: 25px;
    margin-bottom: 0; }
    @media screen and (max-width: 1024px) {
      #indexPadList p {
        padding: 16.66667px; } }
  #indexPadList ul {
    padding: 0;
    margin: 0; }
  #indexPadList .targetPadWrapper {
    display: inline-flex;
    width: 100%;
    border-top: 0.2vw solid #ff0000;
    background: #fff3f3;
    padding-top: 1.5vw; }
    #indexPadList .targetPadWrapper.capitalizeText {
      padding-top: 100px; }
    @media screen and (max-width: 1400px) and (min-width: 1024px) {
      #indexPadList .targetPadWrapper.capitalizeText {
        padding-top: 50px; } }
    @media screen and (max-width: 1024px) {
      #indexPadList .targetPadWrapper {
        width: calc(100% - 33.33333px);
        margin-left: 16.66667px;
        margin-right: 16.66667px; }
        #indexPadList .targetPadWrapper.capitalizeText {
          padding-top: 33.33333px; } }
    #indexPadList .targetPadWrapper:last-of-type {
      border-bottom: 0.2vw solid #ff0000; }
    #indexPadList .targetPadWrapper .targetPad {
      color: #ff0000;
      padding: 25px;
      float: left;
      width: 70%;
      list-style: none; }
      #indexPadList .targetPadWrapper .targetPad span:first-of-type {
        font-weight: bold;
        width: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto; }
      #indexPadList .targetPadWrapper .targetPad span {
        vertical-align: top;
        display: inline-block;
        width: 25%;
        cursor: pointer; }
      @media screen and (max-width: 1400px) and (min-width: 1024px) {
        #indexPadList .targetPadWrapper .targetPad {
          padding: 16.66667px;
          width: 70%; }
          #indexPadList .targetPadWrapper .targetPad span:first-of-type {
            font-weight: bold;
            width: 33.333%; }
          #indexPadList .targetPadWrapper .targetPad span:nth-of-type(2), #indexPadList .targetPadWrapper .targetPad span:nth-of-type(3) {
            padding-left: 10px; }
          #indexPadList .targetPadWrapper .targetPad span {
            vertical-align: top;
            display: inline-block;
            width: 33.333%; } }
      @media screen and (max-width: 1024px) and (min-width: 640px) {
        #indexPadList .targetPadWrapper .targetPad {
          padding: 16.66667px;
          padding-left: 0;
          padding-right: 0;
          width: 70%; }
          #indexPadList .targetPadWrapper .targetPad span:first-of-type {
            font-weight: bold;
            width: 33.333%; }
          #indexPadList .targetPadWrapper .targetPad span:nth-of-type(2), #indexPadList .targetPadWrapper .targetPad span:nth-of-type(3) {
            padding-left: 10px; }
          #indexPadList .targetPadWrapper .targetPad span {
            vertical-align: top;
            display: inline-block;
            width: 33.333%; } }
      @media screen and (max-width: 640px) {
        #indexPadList .targetPadWrapper .targetPad {
          padding: 4px;
          padding-left: 0;
          padding-right: 0;
          width: 70%; }
          #indexPadList .targetPadWrapper .targetPad span:first-of-type {
            font-weight: bold;
            width: 33.333%; }
          #indexPadList .targetPadWrapper .targetPad span:nth-of-type(2), #indexPadList .targetPadWrapper .targetPad span:nth-of-type(3) {
            padding-left: 10px; }
          #indexPadList .targetPadWrapper .targetPad span {
            vertical-align: top;
            display: inline-block;
            width: 33.333%; } }
    #indexPadList .targetPadWrapper .padActions {
      padding: 25px;
      width: 30%;
      float: left; }
      @media screen and (max-width: 1024px) and (min-width: 640px) {
        #indexPadList .targetPadWrapper .padActions {
          padding: 16.66667px;
          padding-right: 0;
          width: 36%; } }
      @media screen and (max-width: 1400px) and (min-width: 1024px) {
        #indexPadList .targetPadWrapper .padActions {
          padding: 16.66667px; } }
      @media screen and (max-width: 640px) {
        #indexPadList .targetPadWrapper .padActions {
          padding: 4px; } }
      #indexPadList .targetPadWrapper .padActions .padActionRead, #indexPadList .targetPadWrapper .padActions .padActionWrite {
        width: calc(50% - 1vw);
        padding: 0.5vw;
        padding-top: 0.75vw;
        padding-bottom: 0.75vw;
        margin: 0.5vw;
        margin-top: -0.75vw;
        border-radius: 1vw;
        cursor: pointer;
        text-align: center; }
      #indexPadList .targetPadWrapper .padActions .padActionRead {
        border: 0.2vw solid #ff0000;
        color: #ff0000; }
        #indexPadList .targetPadWrapper .padActions .padActionRead:after {
          content: 'Read'; }
      #indexPadList .targetPadWrapper .padActions .padActionWrite {
        border: 0.2vw solid #3bdc7b;
        background: #3bdc7b;
        color: #fff3f3; }
        #indexPadList .targetPadWrapper .padActions .padActionWrite:after {
          content: 'Write'; }
        #indexPadList .targetPadWrapper .padActions .padActionWrite.locked {
          background: #e2e2f3;
          border: 0.2vw solid #e2e2f3; }
          #indexPadList .targetPadWrapper .padActions .padActionWrite.locked:hover:after {
            content: 'Locked'; }

#appHeader {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  display: block;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: #ff0000;
  border-bottom: 0.2vw solid #ff0000; }
  @media screen and (max-width: 1400px) and (min-width: 1024px) {
    #appHeader {
      font-size: 26px;
      padding-top: 25px;
      margin-left: 25px;
      margin-right: 25px;
      padding-bottom: 25px;
      line-height: 28.6px; } }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    #appHeader {
      font-size: 18px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 19.8px;
      display: flex; } }
  @media screen and (max-width: 640px) {
    #appHeader {
      font-size: 12px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 13.2px;
      display: flex; } }
  #appHeader p:first-of-type {
    margin-top: -0.5vw;
    margin-bottom: 0; }
  #appHeader #appIndex {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold; }
    @media screen and (min-width: 1024px) {
      #appHeader #appIndex {
        width: 30vw; } }
    #appHeader #appIndex .t-caret {
      padding-left: 0.2vw; }
    #appHeader #appIndex del {
      text-decoration: none; }
    #appHeader #appIndex .animatedBorderBlack {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      border: 0.2vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
  #appHeader .padActions {
    clear: none;
    float: right; }
    @media screen and (max-width: 1024px) {
      #appHeader .padActions {
        float: left;
        margin-top: 13.2px; } }
    @media screen and (max-width: 640px) {
      #appHeader .padActions {
        float: left;
        margin-top: 13.2px; } }
    #appHeader .padActions .padActionRead, #appHeader .padActions .padActionWrite, #appHeader .padActions .padActionPrint, #appHeader .padActions .padActionExpand, #appHeader .padActions .padTitle {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      cursor: pointer;
      vertical-align: text-top; }
    #appHeader .padActions .padTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      text-align: right;
      max-width: 28vw; }
      @media screen and (max-width: 1024px) {
        #appHeader .padActions .padTitle {
          max-width: 28vw;
          text-align: left; } }
    #appHeader .padActions .padActionExpand {
      border: 0.2vw solid #ff0000; }
      #appHeader .padActions .padActionExpand img {
        width: 1vw; }
      #appHeader .padActions .padActionExpand:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionExpand:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionRead {
      border: 0.2vw solid #ff0000; }
      #appHeader .padActions .padActionRead:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionRead:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionWrite {
      border: 0.2vw solid #3bdc7b;
      background: #3bdc7b;
      color: #fff3f3; }
      #appHeader .padActions .padActionWrite:after {
        content: 'Write'; }
      #appHeader .padActions .padActionWrite.locked {
        cursor: default !important;
        background: #e2e2f3;
        border: 0.2vw solid #e2e2f3; }
        #appHeader .padActions .padActionWrite.locked:hover:after {
          content: 'Locked';
          color: #fff3f3;
          background: #e2e2f3; }
      #appHeader .padActions .padActionWrite:not(.locked):hover {
        background: #fff3f3;
        color: #3bdc7b; }
      #appHeader .padActions .padActionWrite:not(.locked).activeAction {
        background: #fff3f3;
        color: #3bdc7b; }
    #appHeader .padActions .padActionPrint {
      border: 0.2vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
      #appHeader .padActions .padActionPrint:hover {
        background: none;
        color: #ff0000; }

#adminIframe0 {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }

#adminIframe1 {
  border: 0;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%; }

@media print {
  #appHeader {
    display: none !important; }
  #singlePadReadInner {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 9mm;
    -moz-column-gap: 9mm;
    column-gap: 9mm; }
    #singlePadReadInner #appendAboutText {
      width: 100% !important; }
  #singlePadRead {
    padding: 0 !important;
    width: 100% !important;
    font-size: 9.5pt !important;
    font-family: "Anonymous Pro", monospace !important;
    line-height: 15.2pt !important;
    letter-spacing: -0.5pt !important; }
    #singlePadRead code {
      padding-left: 20mm !important; }
    #singlePadRead .number {
      padding-left: 10mm !important; }
    #singlePadRead .indent {
      padding-left: 10mm !important; }
    #singlePadRead #singlePadReadMetadata {
      padding-bottom: 5pt !important; }
      #singlePadRead #singlePadReadMetadata #timeStamp {
        right: 11.5pt !important;
        letter-spacing: -0.5pt !important; }
      #singlePadRead #singlePadReadMetadata .metaPlace, #singlePadRead #singlePadReadMetadata .metaDate, #singlePadRead #singlePadReadMetadata .metaEvent, #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 52pt !important;
        line-height: 57.2pt !important;
        letter-spacing: -2.1pt !important; }
      #singlePadRead #singlePadReadMetadata .metaTitle {
        padding-top: 100.67717pt !important;
        padding-bottom: 52pt !important; }
      #singlePadRead #singlePadReadMetadata .metaUrl {
        width: 50%;
        display: inline-block;
        padding-top: 19pt !important;
        padding-bottom: 19pt !important; } }

.hiddenElem {
  visibility: hidden; }

.centerText {
  text-align: center; }

.capitalizeText {
  pointer-events: none; }
  .capitalizeText .targetPad span {
    font-weight: normal !important;
    width: 100% !important;
    text-transform: uppercase; }

.extraPaddingTop {
  padding-top: 60px !important; }
  @media screen and (max-width: 1400px) {
    .extraPaddingTop {
      padding-top: 40px !important; } }
  @media screen and (max-width: 1024px) {
    .extraPaddingTop {
      padding-top: 30px !important; } }
  @media screen and (max-width: 640px) {
    .extraPaddingTop {
      padding-top: 24px !important; } }

.padded {
  padding: 50px; }
  @media screen and (max-width: 1400px) {
    .padded {
      padding: 25px; } }
  @media screen and (max-width: 1024px) {
    .padded {
      padding: 16.66667px; } }

.paddedNotBottom {
  padding-bottom: 0 !important; }

.paddedBottom {
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .paddedBottom {
      padding-bottom: 16.66667px; } }

.chevron {
  padding-left: 8.33333px; }

.chevron::before {
  border-style: solid;
  border-width: 0.20vw 0.20vw 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: super;
  width: 0.45em; }

.chevron.right:before {
  left: 15px;
  transform: rotate(45deg); }

.chevron.top:before {
  top: 0.45em; }

.chevron.bottom:before {
  top: 0.15em;
  transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg); }

.colFull {
  width: 100%;
  display: inline-block;
  clear: both; }

.colHalf {
  width: 50%;
  display: inline-block;
  float: left; }
  @media screen and (max-width: 1024px) {
    .colHalf {
      width: 100%; } }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  background: #fff3f3; }
