@media print {
  #appHeader {
    display: none !important; }
  #singlePadRead {
    padding: 0 !important;
    width: 100% !important;
    font-size: 12.5pt !important;
    font-family: TeXGyreCursor !important;
    line-height: 20pt !important;
    letter-spacing: -0.5pt !important; }
    #singlePadRead code {
      padding-left: 20mm !important; }
    #singlePadRead .number {
      padding-left: 10mm !important; }
    #singlePadRead .indent {
      padding-left: 10mm !important; }
    #singlePadRead #singlePadReadMetadata {
      padding-bottom: 5pt !important; }
      #singlePadRead #singlePadReadMetadata #timeStamp {
        right: 25pt !important;
        letter-spacing: -0.5pt !important; }
      #singlePadRead #singlePadReadMetadata .metaPlace, #singlePadRead #singlePadReadMetadata .metaDate, #singlePadRead #singlePadReadMetadata .metaEvent, #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 52pt !important;
        line-height: 57.2pt !important;
        letter-spacing: -2.1pt !important; }
      #singlePadRead #singlePadReadMetadata .metaTitle {
        padding-top: 100.67717pt !important;
        padding-bottom: 52pt !important; } }
