.hiddenElem {
  visibility: hidden; }

.centerText {
  text-align: center; }

.capitalizeText {
  pointer-events: none; }
  .capitalizeText .targetPad span {
    font-weight: normal !important;
    width: 100% !important;
    text-transform: uppercase; }

.padded {
  padding: 50px; }
  @media screen and (max-width: 1024px) {
    .padded {
      padding: 16.66667px; } }

.paddedNotBottom {
  padding-bottom: 0 !important; }

.paddedBottom {
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .paddedBottom {
      padding-bottom: 16.66667px; } }

#singlePad iframe {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  border: 0;
  background: white;
  border-top: 0.25vw solid #ff0000;
  margin-top: -0.25vw; }

#singlePad #singlePadRead {
  position: relative;
  padding: 50px;
  font-size: 22.66667px;
  font-family: TeXGyreCursor;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: black;
  width: 75%; }
  @media screen and (max-width: 1024px) and (min-width: 420px) {
    #singlePad #singlePadRead {
      padding: 16.66667px;
      font-size: 18.88889px;
      line-height: 20.77778px; } }
  @media screen and (max-width: 420px) {
    #singlePad #singlePadRead {
      padding: 16.66667px;
      font-size: 11.33333px;
      line-height: 12.46667px; } }
  @media screen and (max-width: 1024px) {
    #singlePad #singlePadRead {
      width: 100%; } }
  #singlePad #singlePadRead .number {
    padding-left: 50px; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead .number {
        padding-left: 66.66667px; } }
  #singlePad #singlePadRead .indent {
    list-style: none;
    padding-left: 50px; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead .indent {
        padding-left: 66.66667px; } }
  #singlePad #singlePadRead code {
    font-family: inherit !important;
    padding-left: 200px;
    display: inherit; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead code {
        padding-left: 100px; } }
  #singlePad #singlePadRead a {
    text-decoration: none;
    border-bottom: 0.125vw solid black;
    color: black; }
  #singlePad #singlePadRead > * {
    margin-top: 0; }
  #singlePad #singlePadRead #singlePadReadMetadata {
    display: inline-block;
    width: 100%; }
    #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      position: absolute;
      transform-origin: right;
      text-align: right;
      right: 68px; }
      @media screen and (max-width: 1024px) and (min-width: 420px) {
        #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
          right: 37.77778px; } }
      @media screen and (max-width: 420px) {
        #singlePad #singlePadRead #singlePadReadMetadata #timeStamp {
          right: 26.06667px; } }
    #singlePad #singlePadRead #singlePadReadMetadata .metaPlace, #singlePad #singlePadRead #singlePadReadMetadata .metaDate, #singlePad #singlePadRead #singlePadReadMetadata .metaEvent, #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
      font-size: 51px;
      font-family: TeXGyreHeros;
      line-height: 37.4px;
      letter-spacing: -0.1vw;
      font-weight: normal; }
    #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
      padding: 50px;
      display: inline-block;
      font-weight: bold; }
    @media screen and (max-width: 1024px) {
      #singlePad #singlePadRead #singlePadReadMetadata .metaPlace, #singlePad #singlePadRead #singlePadReadMetadata .metaDate, #singlePad #singlePadRead #singlePadReadMetadata .metaEvent, #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 37.77778px;
        line-height: 34px;
        letter-spacing: -0.1vw; }
      #singlePad #singlePadRead #singlePadReadMetadata .metaTitle {
        padding: 16.66667px; } }

#indexSplash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff3f3;
  top: 0;
  left: 0; }
  #indexSplash #indexSplashInner {
    font-size: 40vw;
    font-weight: bold;
    letter-spacing: -2vw;
    line-height: 100vh;
    width: 100vw;
    display: inherit;
    color: #3bdc7b; }
    #indexSplash #indexSplashInner.shiftCaretColor {
      color: #fff3f3;
      background: #ff0000; }
      #indexSplash #indexSplashInner.shiftCaretColor .t-caret {
        margin-left: -2vw; }
    #indexSplash #indexSplashInner .noneBack {
      background: #fff3f3;
      border-radius: 10vh;
      padding-left: 8.8vw;
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: #3bdc7b; }
    #indexSplash #indexSplashInner .redBack {
      background: #ff0000;
      border-radius: 10vh;
      padding-left: 2.8vw !important;
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: #fff3f3; }
      #indexSplash #indexSplashInner .redBack .t-caret {
        color: #fff3f3; }
    #indexSplash #indexSplashInner del {
      text-decoration: none; }
    #indexSplash #indexSplashInner del:empty {
      display: none; }
    #indexSplash #indexSplashInner .t-caret {
      -ms-transform: scale(1, 0.5);
      -webkit-transform: scale(1, 0.5);
      transform: scale(0.8, 0.8);
      display: inline-block !important;
      animation: blink-animation 2s steps(5, start) infinite;
      -webkit-animation: blink-animation 2s steps(5, start) infinite; }

@keyframes blink-animation {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }

#indexBlurb, #indexInfo, #indexCredits {
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: #ff0000; }
  @media screen and (max-width: 1024px) and (min-width: 420px) {
    #indexBlurb, #indexInfo, #indexCredits {
      font-size: 18.88889px;
      line-height: 20.77778px;
      letter-spacing: -0.1vw; } }
  @media screen and (max-width: 420px) {
    #indexBlurb, #indexInfo, #indexCredits {
      font-size: 11.33333px;
      line-height: 12.46667px;
      letter-spacing: -0.1vw; } }
  #indexBlurb a, #indexInfo a, #indexCredits a {
    font-weight: bold;
    text-decoration: none;
    color: inherit; }
  #indexBlurb p:first-of-type, #indexInfo p:first-of-type, #indexCredits p:first-of-type {
    margin-top: -0.5vw; }

#indexPadList {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  display: inline-block;
  width: 100%;
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) and (min-width: 420px) {
    #indexPadList {
      font-size: 18.88889px;
      line-height: 20.77778px;
      letter-spacing: -0.1vw;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16.66667px; } }
  @media screen and (max-width: 420px) {
    #indexPadList {
      font-size: 11.33333px;
      line-height: 12.46667px;
      letter-spacing: -0.1vw;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 16.66667px; } }
  #indexPadList p {
    color: #ff0000;
    padding: 25px;
    margin-bottom: 0; }
    @media screen and (max-width: 1024px) {
      #indexPadList p {
        padding: 16.66667px; } }
  #indexPadList ul {
    padding: 0;
    margin: 0; }
  #indexPadList .targetPadWrapper {
    display: inline-flex;
    width: 100%;
    border-top: 0.25vw solid #ff0000;
    background: #fff3f3;
    padding-top: 1.5vw; }
    #indexPadList .targetPadWrapper.capitalizeText {
      padding-top: 100px; }
    @media screen and (max-width: 1024px) {
      #indexPadList .targetPadWrapper {
        width: calc(100% - 33.33333px);
        margin-left: 16.66667px;
        margin-right: 16.66667px; }
        #indexPadList .targetPadWrapper.capitalizeText {
          padding-top: 33.33333px; } }
    #indexPadList .targetPadWrapper:last-of-type {
      border-bottom: 0.25vw solid #ff0000; }
    #indexPadList .targetPadWrapper .targetPad {
      color: #ff0000;
      padding: 25px;
      float: left;
      width: 70%;
      list-style: none; }
      #indexPadList .targetPadWrapper .targetPad span:first-of-type {
        font-weight: bold;
        width: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto; }
      #indexPadList .targetPadWrapper .targetPad span {
        vertical-align: top;
        display: inline-block;
        width: 25%;
        cursor: pointer; }
      @media screen and (max-width: 1024px) {
        #indexPadList .targetPadWrapper .targetPad {
          padding: 16.66667px;
          padding-left: 0;
          padding-right: 0;
          width: 64%; }
          #indexPadList .targetPadWrapper .targetPad span:first-of-type {
            font-weight: bold;
            width: 33.333%; }
          #indexPadList .targetPadWrapper .targetPad span:nth-of-type(2), #indexPadList .targetPadWrapper .targetPad span:nth-of-type(3) {
            padding-left: 10px; }
          #indexPadList .targetPadWrapper .targetPad span {
            vertical-align: top;
            display: inline-block;
            width: 33.333%; } }
    #indexPadList .targetPadWrapper .padActions {
      padding: 25px;
      width: 30%;
      float: left; }
      @media screen and (max-width: 1024px) {
        #indexPadList .targetPadWrapper .padActions {
          padding: 16.66667px;
          padding-right: 0;
          width: 36%; } }
      #indexPadList .targetPadWrapper .padActions .padActionRead, #indexPadList .targetPadWrapper .padActions .padActionWrite {
        width: calc(50% - 1vw);
        padding: 0.5vw;
        padding-top: 0.75vw;
        padding-bottom: 0.75vw;
        margin: 0.5vw;
        margin-top: -0.75vw;
        border-radius: 1vw;
        cursor: pointer;
        text-align: center; }
      #indexPadList .targetPadWrapper .padActions .padActionRead {
        border: 0.25vw solid #ff0000;
        color: #ff0000; }
        #indexPadList .targetPadWrapper .padActions .padActionRead:after {
          content: 'Read'; }
      #indexPadList .targetPadWrapper .padActions .padActionWrite {
        border: 0.25vw solid #3bdc7b;
        background: #3bdc7b;
        color: #fff3f3; }
        #indexPadList .targetPadWrapper .padActions .padActionWrite:after {
          content: 'Write'; }
        #indexPadList .targetPadWrapper .padActions .padActionWrite.locked {
          background: #e2e2f3;
          border: 0.25vw solid #e2e2f3; }
          #indexPadList .targetPadWrapper .padActions .padActionWrite.locked:hover:after {
            content: 'Locked'; }

#appHeader {
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
  display: block;
  font-size: 34px;
  font-family: TeXGyreHeros;
  line-height: 37.4px;
  letter-spacing: -0.1vw;
  color: #ff0000;
  border-bottom: 0.25vw solid #ff0000; }
  @media screen and (max-width: 1024px) and (min-width: 420px) {
    #appHeader {
      font-size: 18.88889px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 20.77778px;
      display: flex; } }
  @media screen and (max-width: 420px) {
    #appHeader {
      font-size: 11.33333px;
      padding-top: 16.66667px;
      margin-left: 16.66667px;
      margin-right: 16.66667px;
      padding-bottom: 16.66667px;
      line-height: 12.46667px;
      display: flex; } }
  #appHeader p:first-of-type {
    margin-top: -0.5vw;
    margin-bottom: 0; }
  #appHeader #appIndex {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold; }
    @media screen and (min-width: 1024px) {
      #appHeader #appIndex {
        width: 30vw; } }
    #appHeader #appIndex .t-caret {
      padding-left: 0.2vw; }
    #appHeader #appIndex del {
      text-decoration: none; }
    #appHeader #appIndex .animatedBorderBlack {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      border: 0.25vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
  #appHeader .padActions {
    clear: none;
    float: right; }
    @media screen and (max-width: 1024px) {
      #appHeader .padActions {
        float: left;
        margin-top: 12.46667px; } }
    @media screen and (max-width: 420px) {
      #appHeader .padActions {
        float: left;
        margin-top: 12.46667px; } }
    #appHeader .padActions .padActionRead, #appHeader .padActions .padActionWrite, #appHeader .padActions .padActionPrint, #appHeader .padActions .padActionExpand, #appHeader .padActions .padTitle {
      padding: 0vw 1vw 0.2vw 1vw;
      border-radius: 1vw;
      cursor: pointer;
      vertical-align: text-top; }
    #appHeader .padActions .padTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      text-align: right;
      max-width: 28vw; }
      @media screen and (max-width: 1024px) {
        #appHeader .padActions .padTitle {
          max-width: 28vw;
          text-align: left; } }
    #appHeader .padActions .padActionExpand {
      border: 0.25vw solid #ff0000; }
      #appHeader .padActions .padActionExpand img {
        width: 1vw; }
      #appHeader .padActions .padActionExpand:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionExpand:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionRead {
      border: 0.25vw solid #ff0000; }
      #appHeader .padActions .padActionRead:not(.activeAction) {
        background: #ff0000;
        color: #fff3f3; }
        #appHeader .padActions .padActionRead:not(.activeAction):hover {
          background: #fff3f3;
          color: #ff0000; }
    #appHeader .padActions .padActionWrite {
      border: 0.25vw solid #3bdc7b;
      background: #3bdc7b;
      color: #fff3f3; }
      #appHeader .padActions .padActionWrite:after {
        content: 'Write'; }
      #appHeader .padActions .padActionWrite.locked {
        cursor: default !important;
        background: #e2e2f3;
        border: 0.25vw solid #e2e2f3; }
        #appHeader .padActions .padActionWrite.locked:hover:after {
          content: 'Locked';
          color: #fff3f3;
          background: #e2e2f3; }
      #appHeader .padActions .padActionWrite:not(.locked):hover {
        background: #fff3f3;
        color: #3bdc7b; }
      #appHeader .padActions .padActionWrite:not(.locked).activeAction {
        background: #fff3f3;
        color: #3bdc7b; }
    #appHeader .padActions .padActionPrint {
      border: 0.25vw solid #ff0000;
      background: #ff0000;
      color: #fff3f3; }
      #appHeader .padActions .padActionPrint:hover {
        background: none;
        color: #ff0000; }

#adminIframe0 {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }

#adminIframe1 {
  border: 0;
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%; }

@media print {
  #appHeader {
    display: none !important; }
  #singlePadRead {
    padding: 0 !important;
    width: 100% !important;
    font-size: 12.5pt !important;
    font-family: TeXGyreCursor !important;
    line-height: 20pt !important;
    letter-spacing: -0.5pt !important; }
    #singlePadRead code {
      padding-left: 20mm !important; }
    #singlePadRead .number {
      padding-left: 10mm !important; }
    #singlePadRead .indent {
      padding-left: 10mm !important; }
    #singlePadRead #singlePadReadMetadata {
      padding-bottom: 5pt !important; }
      #singlePadRead #singlePadReadMetadata #timeStamp {
        right: 25pt !important;
        letter-spacing: -0.5pt !important; }
      #singlePadRead #singlePadReadMetadata .metaPlace, #singlePadRead #singlePadReadMetadata .metaDate, #singlePadRead #singlePadReadMetadata .metaEvent, #singlePadRead #singlePadReadMetadata .metaTitle {
        font-size: 52pt !important;
        line-height: 57.2pt !important;
        letter-spacing: -2.1pt !important; }
      #singlePadRead #singlePadReadMetadata .metaTitle {
        padding-top: 100.67717pt !important;
        padding-bottom: 52pt !important; } }

.hiddenElem {
  visibility: hidden; }

.centerText {
  text-align: center; }

.capitalizeText {
  pointer-events: none; }
  .capitalizeText .targetPad span {
    font-weight: normal !important;
    width: 100% !important;
    text-transform: uppercase; }

.padded {
  padding: 50px; }
  @media screen and (max-width: 1024px) {
    .padded {
      padding: 16.66667px; } }

.paddedNotBottom {
  padding-bottom: 0 !important; }

.paddedBottom {
  padding-bottom: 50px; }
  @media screen and (max-width: 1024px) {
    .paddedBottom {
      padding-bottom: 16.66667px; } }

.colFull {
  width: 100%;
  display: inline-block;
  clear: both; }

.colHalf {
  width: 50%;
  display: inline-block;
  float: left; }
  @media screen and (max-width: 1024px) {
    .colHalf {
      width: 100%; } }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  background: #fff3f3; }
